# Отключение папок bin и obj
bin/
obj/

# Отключение файлов, созданных Visual Studio
.vs/
.vscode/

# Отключение пользовательских настроек, которые не должны попадать в репозиторий
*.user
*.userosscache
*.suo
*.userprefs

# Отключение всех файлов сборки
*.dll
*.exe
*.pdb
*.cache

